/*Global----------------------------------------------------------*/
/*Cores-----------------------------------------------------------*/
:root {
    --dark-blue: #363f5f;
    --green: #49AA26;
    --light-green: #3dd705;
    --red: #e92929;
}
/*Titulos---------------------------------------------------------*/
h2 {
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: #363f5f;

    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 93.75%;
    scroll-behavior: smooth; /*Faz a pagina rolar de forma suave. Também vai ajudar quando clica para criar uma nova transação em mobile)*/
}

body {
    background: #f0f2f5;
    font-family: 'Shippori Antique B1', sans-serif;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;

    overflow: hidden;
    clip: rect(0, 0, 0, 0);

    white-space: nowrap;
    border-width: 0;
}

.container {
    width: min(90vw,800px);

    margin: auto;
}

/*Links & Buttons------------------------------------------------------*/
/*Botão Nova transação*/
a {
    color: var(--green);
    text-decoration: none;
}
a:hover {
    color: var(--light-green);
}
.button.new {
    display: inline-block;
    margin-bottom: .8rem;
}
button {
    width: 100%;
    height: 50px;

    border: none;
    color: white;
    background: var(--green);

    padding: 0;

    border-radius: 0.25rem;

    cursor: pointer;
}
button:hover {
    background: var(--light-green);
    transition: all 0.5s ease;
}
.button.cancel {
    color: var(--red);

    border: 2px var(--red) solid;
    border-radius: 0.25rem;

    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0.6;
}
.button.cancel:hover {
    background: var(--red);
    color: #f0f2f5;
     
    opacity: 1;
    transition: all 0.5s ease
}

/*Botão de excluir transações*/
a.botton_esclud img {
    width: 1.5rem;
}

/*
.button.new{
    color: rgb(44, 77, 39);
    text-decoration: none;
    font-weight: 200;

    opacity: 0.7;
}
.button.new:hover {
    opacity: 1;
    color: #2d4a22;
}
*/


/*header----------------------------------------------------------*/
header {
    background: #2d4a22;
    padding: 2rem 0 10rem;
    text-align: center;
}

header h1#logo {
    color: #fff;
    font-weight: 100;
}
/*Balance---------------------------------------------------------*/
#balance {
    margin-top: -8rem;
}
#balance h2 {
    color: white;
    margin-top: 0;    
}
/*Cards-----------------------------------------------------------*/
.card {
    background: #fff;
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;

    margin-bottom: 2rem;

    color: var(--dark-blue);
}
.card h3 {
    font-weight: normal;
    font-size: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card p {
    font-size: 2rem;
    line-height: 3rem;

    margin-top: 1rem;
}
.card.total {
    background: #4aa264;
    color: white;
}
/*Transações------------------------------------------------------*/
#transaction {
    display: block;
    width: 100%;
    overflow-x: auto;    
}
#data-table {
    width: 100%;
    border-spacing: 0 0.5rem;
    color: #969cb3;  
}
table thead tr th:first-child, /* :first-child está pegando o primeiro*/
table tbody tr td:first-child {
        border-radius: 0.25rem 0 0 0.25rem;   
}
table thead tr th:last-child,
table tbody tr td:last-child {
        border-radius: 0 0.25rem 0.25rem 0;
}
table .description {
    padding-inline-start: 0.5rem;
}

/* --- */
table thead th {
    background: white;
    padding: 1rem 2rem;

    
    font-weight: normal;
    color: #969cb3;
    text-align: left;
}
table tbody td {
    background: white;
    padding: 1rem 2rem;   
}

table tbody tr {
    background: white;
    opacity: 0.7;
    
}
table tr:hover{
    opacity: 1;
    
}

td.description {
    color: var(--dark-blue);
}
td.income {
    color: #12a454;
}
td.expense {
    color: #e92929;
}
/*Modal-----------------------------------------------------------*/
.modal-overlay {
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.7);

    position: fixed;
    top: 0;
    /*Posicionando o conteúdo dentro dessa caixa*/
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0; /* Opacity sozinho, esconde mas a area dele fica sendo ocupada.*/
    visibility: hidden; /* Com o visibily a area dele passa a não ser ocupada*/

    z-index: 99;
}
.modal-overlay.active {
    opacity: 1;
    visibility: visible;
    transition: all 1s ease;
}
.modal-overlay.close {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
}
.modal {
    background: #f0f2f5;
    
    padding: 2.4rem; 
    
    position: relative;

    width: 90%;
    max-width: 500px;

    height: 90%;
    max-height: 300px;
    
    z-index: 1;
    
}

/*Personalizando o interior do modal*/
/*form*/

#form {
    max-width: 500px;
    
}
#form h2{
    margin-top: 0;
}
#form form input {
    border: none;
    border-radius: 0.2rem;

    padding: 0.8rem;

    width: 100%;
}
.input-group {
    margin-top: 0.8rem;
}
.input-group small {
    opacity: 0.5;
}
.input-group.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input-group.actions .button,
.input-group.actions button {
    width: 48%;
} 



/*
.modal #NewTrDecrição {
    grid-column-start: 1;
    grid-column-end: 3;
}
.modal #NewTrValor {
    grid-column-start: 1;
    grid-column-end: 3;
}
.modal p {
    grid-column-start:1;
    grid-column-end:3;
}
.modal #NewTrDate {
    grid-column-start: 1;
    grid-column-end: 3;
}
.modal #cancelar {
    grid-column-start: 1;
    grid-column-end: 2;
}
.modal #enviar {
    grid-column-start: 2;
    grid-column-end: 2;
} 

*/


/*Footer  --------------------------------------------------------*/
footer {
    text-align: center;
    padding: 4rem 0 2rem 2rem;
    color: var(--dark-blue);
    opacity: 0.6;
}

/*
Algumas outras coisas
...
*/


/* Responsividade------------------------------------------------- */
@media (min-width: 800px) {
    html {
        font-size: 87.5%;
    }
    #balance {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; /* Quando repetimos, e queremos fazer um atalho para isso, poremos usar o repeat()
        ex: grid-template-columns: repeat(3, 1fr) [estamos falando, para repetir 3x o tamano 1fr] */
        gap: 2rem;
    }
    
} 
@media (max-width: 500px) {
    #form {
        font-size: 80%;
    }
    #form form input {
        padding: 0.2rem
    }
    
}
